Package: com.rpetrich.captainhammer
Name: CaptainHammer
Depends: firmware (>= 3), mobilesubstrate, libactivator (>= 1.7), cycript
Version: 0.5.1
Architecture: iphoneos-arm
Description: Simple debugging tools
Maintainer: thebigboss.org <http://thebigboss.org>
Author: Ryan Petrich <rpetrich+captainhammer@gmail.com>
Section: Developer
Tag: purpose::extension, role::developer
dev: rpetrich
