Package: com.rpetrich.captainhammer
Name: CaptainHammer
Depends: firmware (>= 3), mobilesubstrate, libactivator (>= 1.7), cycript, preferenceloader (>= 2.2), applist (>= 1.5.3)
Version: 0.5.6
Architecture: iphoneos-arm
Description: Simple debugging tools to enable the remote WebKit inspector and provide integration with PonyDebugger
Maintainer: thebigboss.org <http://thebigboss.org>
Author: Ryan Petrich <rpetrich+captainhammer@gmail.com>
Section: Development
Tag: purpose::extension, role::developer
dev: rpetrich
